In [39]:
# Module 11 - Part 2: Mars Weather
# import dependencies
from splinter import Browser
from bs4 import BeautifulSoup, element
import requests
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
browser = Browser('chrome')

In [3]:
# Visit the website
# https://static.bc-edx.com/data/web/mars_facts/temperature.html
url = "https://static.bc-edx.com/data/web/mars_facts/temperature.html"
browser.visit(url)

In [ ]:
# browser close for end
browser.quit()

In [5]:
# time for soup
html =  browser.html
soup = BeautifulSoup(html, features='html.parser')

In [74]:
# id table container, it's named table
table_container = soup.find('table', class_ = 'table')
# run through table_container
# first we want all of the table rows, not adding class_='data-row'
# data[0] can be used as our column headers
if table_container:
    data = []
    table_rows = table_container.find_all("tr")
    for row in table_rows:
        # looking at each individual cell, individual cells hail from either th (for headers)
        # or td (for actual numbers)
        ind_cells = row.find_all(['th','td'])
        row_data = [ind_cells.get_text(strip=True) for ind_cell in ind_cells]
        data.append(row_data)

In [88]:
# data[0] contains headers, use headers as column names in df
mars_headers = data[0]
# data[1:] are the numbers, col data will be parsed in line with headers
mars_data = data[1:]
mars_scrape_df = pd.DataFrame(mars_data, columns=mars_headers)
# recast columns as specific data types
mars_scrape_df['id'] = mars_scrape_df['id'].astype(int)
mars_scrape_df['terrestrial_date'] = pd.to_datetime(mars_scrape_df['terrestrial_date'])
mars_scrape_df['sol'] = mars_scrape_df['sol'].astype(int)
mars_scrape_df['ls'] = mars_scrape_df['ls'].astype(int)
mars_scrape_df['month'] = mars_scrape_df['month'].astype(int)
mars_scrape_df['min_temp'] = mars_scrape_df['min_temp'].astype(float)
mars_scrape_df['pressure'] = mars_scrape_df['pressure'].astype(float)
mars_scrape_df.head(5)

   id terrestrial_date  sol   ls  month  min_temp  pressure
0   2       2012-08-16   10  155      6     -75.0     739.0
1  13       2012-08-17   11  156      6     -76.0     740.0
2  24       2012-08-18   12  156      6     -76.0     741.0
3  35       2012-08-19   13  157      6     -74.0     732.0
4  46       2012-08-20   14  157      6     -74.0     740.0

In [90]:
# creating an output csv
output_folder = "Output"
output_csv = f"{output_folder}/mars_temperature_data.csv"
# output as articles_scraped
mars_scrape_df.to_csv(output_csv, sep=',', encoding='utf-8', index=False)